<modal-detail-country *ngIf="showModal" [country]="countryInfoModal" (closeModal)="onCloseModal()"
  (switchFavorite)="onGetSwitchFavorite($event)">
</modal-detail-country>

<div>
  <app-find-country (sendDataForm)="onGetInfoFilter($event)" (sendCountryName)="onGetNameCountryBySearch($event)">
  </app-find-country>
</div>

<div *ngIf="continentList.length === 0" class="alert">
  No results found
  <text-alert text="No results found"></text-alert>
</div>

<div class="wrapper-countries">
  <div *ngFor="let continent of continentList" class="wrapper">
    <list-countries [countriesList]="continent" [showStar]="showStar" (sendCountry)="onGetInfoCountry($event)"></list-countries>
  </div>
</div>