<div class="wrapper-form">
  <form [formGroup]="searchCountry">

    <input type="text" name="countryName" id="countryName" formControlName="countryName" (keyup)="onSendCountryName()"
      placeholder="Search Country">


    <select name="filter" id="filter" formControlName="region">

      <option *ngFor="let option of filterList" [value]="option.value" [selected]="option.value === 'all'">
        {{ option.name | titlecase }}
      </option>

    </select>

    <span class="glyphicon glyphicon-search pointer search" (click)="onSendDataForm()"></span>


  </form>
</div>