.wrapper-form {
  margin-left: 40px;
  margin-top: 2%;
}

#countryName {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
}

#filter {
  padding: 14px 22px;
}

.search {
  text-align: center;
  font-size: 2rem;
  margin-left: 5px;
  background-color: #21adcf;
  margin-left: -1px;
  padding: 8px 12px 17px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
